<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create Product</h1>

<a th:href="@{/about?num=7}">About Page</a>


<form th:action="@{/products/create}" th:method="POST">
    <label for="name">Product Name</label>
    <input id="name" type="text" name="name" placeholder="Enter product name">
    <label for="price">Price In Cents</label>
    <input id="price" type="number" name="price" placeholder="Enter price in cents">
    <button>Create Product</button>
</form>
</body>
</html>