<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: head"></head>

<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<h1>Create Product</h1>

<a th:href="@{/about?num=7}">About Page</a>


<form th:action="@{/posts/create}" th:method="POST">
    <label for="title">Product Name</label>
    <input id="title" type="text" name="title" placeholder="Enter product name">
    <label for="body">Body contents</label>
    <input id="body" type="text" name="body" placeholder="Enter contents">
    <button>Create Product</button>
</form>
</body>
</html>