<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: head"></head>

<body>
<nav th:replace="partials/navbar :: navbar"></nav>


<div class="flex-container d-flex justify-content-center">
  <div class="row d-flex justify-content-center">
    <h1>Edit Product</h1>

    <a th:href="@{/about?num=7}">About Page</a>

    <form th:method="POST" th:action="@{/posts/{id}/edit(id=${post.id})}" th:object="${post}" class="d-flex justify-content-center">
      <div class="card " style="width: 18rem;">
        <div class="card-header">
          Create Post
        </div>
        <div class="card-body">
          <div class="mb-3">
            <label for="title">Product Name</label>
            <input th:field="*{title}" id="title" class="form-control " name="title">
          </div>
          <div class="mb-3">
            <label for="body">Body contents</label>
            <input th:field="*{body}" id="body" class="form-control" name="body" rows="3" >
          </div>
<!--          <div class="mb-3">-->
<!--            <label type="hidden" for="user"></label>-->
<!--            <input type="hidden" th:field="*{user}" id="user" class="form-control" name="body" rows="3" >-->
<!--          </div>-->
        </div>

        <button class="btn btn-primary">Edit Product</button>

      </div>
    </form>

  </div>
</div>



<!--<div class="flex-container d-flex justify-content-center">-->
<!--    <div class="row d-flex justify-content-center">-->
<!--        <h1>Create Product</h1>-->

<!--        <a th:href="@{/about?num=7}">About Page</a>-->

<!--        <form th:action="@{/posts/create}" th:method="POST" class="d-flex justify-content-center">-->
<!--            <div class="card " style="width: 18rem;">-->
<!--                <div class="card-header">-->
<!--                    Create Post-->
<!--                </div>-->
<!--                <div class="card-body">-->
<!--                    <div class="mb-3">-->
<!--                        <label for="title">Product Name</label>-->
<!--                        <input id="title" class="form-control " name="title"  placeholder="Enter product name">-->
<!--                    </div>-->
<!--                    <div class="mb-3">-->
<!--                        <label for="body">Body contents</label>-->
<!--                        <input id="body" class="form-control" name="body" rows="3" placeholder="Enter contents">-->
<!--                    </div>-->
<!--                </div>-->

<!--                <button class="btn btn-primary">Create Product</button>-->
<!--            </div>-->
<!--        </form>-->

<!--    </div>-->
<!--</div>-->





</body>
</html>