    <nav class="navbar navbar-expand bg-dark" th:data-bs-theme="dark" th:fragment="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="/ads">Arcade</a>
            <div class="collapse navbar-collapse d-flexs justify-content-between" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/static">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ads">Ads</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li th:if="${session.user != null}" class="nav-item">
                        <a class="nav-link" href="/ads/create">Create AD</a>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    <li th:if="${session.user == null}" class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    <li th:if="${session.user == null}" class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li th:if="${session.user != null}" class="nav-item">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>
                    <li th:if="${session.user != null}" class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
