<div th:each="post : ${posts}" th:fragment="print-post" >

    <div class="card border-light mb-3 p-0 bg-dark text-light" style="width: 18rem;" >
        <div class="card-body" >
            <div class="card-header text-bg-secondary p-0"><a th:text="@{|post# ${post.id}|}" th:href="@{|/posts/${post.id}|}" style="text-decoration:none; color: white"></a></div>
            <div class=" card-title text-center p-2">
                <h3 th:text="${post.title}" th:href="@{|/posts/${post.id}|}"></h3>
            </div>
            <div class="card-text ">
                <h5>Contents: <span th:text="${post.body}" th:href="@{|/posts/${post.id}|}"></span></h5>
                <h5>Created by: <span th:text="${post.user.username}"></span></h5>
            </div>



            <div th:if="${post.user.id} == ${#authentication.principal.id}" class="d-flex justify-content-between">
                <form th:action="@{/posts/{id}/edit(id=${post.id})}" method="get">
                    <input type="hidden" name="edit_id" th:value="${post.id}" />
                    <button type="submit" class="btn btn-light">Edit</button>
                </form>

                <form th:action="@{/posts/delete/{id}(id=${post.id})}" method="get">
                    <input type="hidden" name="delete_id" th:value="${post.id}" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>

            </div>
        </div>
    </div>
</div>

