<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: head"></head>

<body>
<nav th:replace="partials/navbar :: navbar"></nav>


<div class="flex-container d-flex justify-content-center">
  <div class="row d-flex justify-content-center">

    <h1 class="text-center">Sign in</h1>
    <div th:if="${param.error}">
      Invalid Username and Password.
    </div>
    <div th:if="${param.logout}">
      You have been logged out.
    </div>
    <form th:action="@{/login}" th:method="POST" class="d-flex justify-content-center">
      <div class="card " style="width: 18rem;">
        <div class="card-header text-center">
          Sign in
        </div>
        <div class="card-body">
          <div class="mb-3">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" placeholder="Enter username">
          </div>
          <div class="mb-3">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="Enter password">
          </div>
        </div>
        <button class="btn btn-primary">Sign in</button>
      </div>
    </form>
  </div>
</div>



</body>
</html>